@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
}

:root {
    --navbar-bg: #151719;
    --page-bg: #fff;
    --bg: #f7f7f7;
    --font-color: #3d464d;
    --font-discount-color: #b3b3b3;
    --product-available: #28a745;
    --product-down-stock: #fb9e0b;
    --product-off-stock: #ff0000;
    --product-pay: #007bff;

    --box-shadow: rgba(3, 3, 3, 0.08) 0px 4px 12px 0px;

    --fs-xs: 1.1rem;
    --fs-sm: 1.2rem;
    --fs-md: 1.5rem;
    --fs-lg: 1.6rem;
    --fs-xl: 2.0rem
}

/* NEXTGAMES BAR  */

.nextGame--bar {
    background-color: var(--navbar-bg);
    width: 100%;
    min-width: 320px;
    height: 10vh;
}

.nextGame--items {
    width: 70%;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin: 0 auto;
}

.nextGame--items img {
    width: 200px;
    height: 50px;
}


.nextGame--items__input {
    width: 500px;
    height: 40px;
    border-radius: 12px;
}

.nextGame--items__whatsapp {
    display: flex;
    flex-direction: column;
}

.nextGame--items__whatsapp p:nth-child(1) {
    font-size: var(--fs-md);
    color: var(--bg);
    text-align: end;
}

.nextGame--items__whatsapp p:nth-child(2) {
    font-size: var(--fs-xl);
    color: var(--bg);
}


/* NAVBAR */

navbar {
    background-color: var(--bg);
}

.navbar--image {
    display: none;
}

.nextGame--navbar {
    width: 70%;
    height: 6vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.nextGame--navbar__button {
    width: 250px;
    height: 40px;
    background: var(--page-bg);
    font-size: var(--fs-md);
}

.nextGame--navbar__submenu ul {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.nextGame--navbar__submenu ul li {
    list-style: none;
    font-size: var(--fs-md);
    cursor: pointer;
}

.nextGame--navbar__icons {
    display: flex;
    gap: 10px;
    position: relative;
    align-items: center;
}

.border {
    width: 100%;
    height: 3px;
    background-color: var(--navbar-bg);
}

.cart--icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-color {
    background: var(--page-bg);
}

.cart {
    width: 800px;
    min-height: auto;
    background-color: var(--page-bg);
    border: 2px solid black;
    padding: 30px;
}


.cart--titles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    font-size: var(--fs-lg);
    list-style: none;
    font-weight: bold;
    text-align: center;
}

.cart--titles span {
    width: 30px;
}

.cart--items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    list-style: none;
    font-size: var(--fs-md);
    text-align: center;
    margin-bottom: 20px;
}

.cart--items li button {
    width: 40px;
    height: 30px;
    border: none;
    margin: 0 50px;
    background-color: var(--page-bg);
}

.cart--items__image {
    width: 40px;
}

.cart--total {
    width: 100%;
    background-color: rgb(130, 188, 255);
    padding: 5px 0;
}

.cart--total ul {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.cart--total ul li {
    font-size: var(--fs-md);
    list-style: none;
    font-weight: bold;
}

main {
    background-color: var(--bg);
    width: 100%;
    height: auto;
}

.products--container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.main--container {
    width: 20%;
    padding: 20px 0px;
    border: var(--box-shadow);
    background-color: var(--page-bg);
    margin-top: 70px;
    height: max-content;

}

.main__filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.main__filtros .main__filtros--category h4, .main__filtros--marcas h4 {
    font-size: var(--fs-lg);
    font-weight: bold;
    margin-bottom: 20px;
}

.main__filtros .main__filtros--category p {
    font-size: var(--fs-lg);
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.main__filtros .main__filtros--category p span {
    color: var(--font-discount-color);
    margin-left: 32px;
}

.main__filtros--marcas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__filtros--marcas p {
    font-size: var(--fs-lg);
    font-weight: 300;
    cursor: pointer;
}

.videogames--container {
    width: 70%;
}

.videogames__items--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 70px;
}

.card--container {
    width: 200px;
    height: auto;
    padding: 25px;
    box-shadow: var(--box-shadow);
    background-color: var(--page-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 20px;
}

.card--image {
    width: 100%;
    height: auto;
}

.card--title {
    font-size: var(--fs-lg);
}


.card--price p:nth-child(1) {
    font-size: var(--fs-md);
    font-weight: bold;
} 

.card--price p:nth-child(2) {
    font-size: var(--fs-xs);
    color: var(--product-pay);
}

.card--add {
    width: 100%;
    padding: 5px 0px;
    background: var(--navbar-bg);
    color: var(--page-bg);
    font-size: var(--fs-sm);
}

.nextGame--bar-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .nextGame--bar {
        display: none;
    }

    
    .navDisable {
        background-color: var(--navbar-bg);
    }

    .nextGame--navbar {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        padding: 0px 20px;
        align-items: center;
    }

    .nextGame--navbar__button {
        display: none;
    }


    .nextGame--navbar__submenu ul {
        display: none;
    }

    .navbar--image {
        display: block;
        padding: 20px;
        order: 2;
    }

    .navbar--image img {
        width: 70%;
        max-width: 200px;
    }

    .nextGame--navbar__icons {
        color: white;
        order: 1;
    }

    .nextGame--navbar__icons button svg {
        color: white;
    }


    .main--container {
        display: none;
    }

    .videogames--container {
        width: 100%;
        min-width: 320px;
    }

    .videogames__items--container {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        min-width: 320px;
        gap: 10px;
    }

    .card--container {
        width: 100%;
        min-width: 160px;
        height: auto;
        padding: 10px;
        margin-bottom: 20px;
    }

    .card--title {
        font-size: var(--fs-md);
    }

    .card--price p:nth-child(1) {
        font-size: var(--fs-lg);
        font-weight: bold;
    } 
    
    .cart {
        width: 90vw;
        min-height: 90vh;
        border: none;
        padding: 0;
    }

    .cart--total {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: transparent;
    }

    .cart--titles {
        font-size: var(--fs-sm);
    }

    .cart--items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        place-items: center;
        list-style: none;
        font-size: var(--fs-xs);
        text-align: center;
        margin-bottom: 20px;
    }

    .cart--total ul li {
        font-size: var(--fs-sm);
    }

    .btn-cart-color {
        background-color: var(--navbar-bg);
        border: none;
    }

    
}

@media screen and (min-width: 769px) and (max-width: 1350px) {
    .nextGame--bar {
        display: block;
        height: 10vh;
    }

    .nextGame--bar-mobile {
        display: none;
    }

    .nextGame--items {
        width: 100%;
    }

    .nextGame--items__input {
        width: 100%;
    }

    .nextGame--items__whatsapp p:nth-child(1) {
        font-size: var(--fs-sm);
    }

    .nextGame--items__whatsapp p:nth-child(2) {
        font-size: var(--fs-lg);
    }

    .nextGame--navbar {
        width: 90%;
    }

    .nextGame--navbar__button {
        width: 70%;
        height: auto;
        padding: 5px 0px;
    }


    .nextGame--navbar__submenu ul {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    .nextGame--navbar__submenu ul li {
        list-style: none;
        font-size: var(--fs-sm);
        cursor: pointer;
    }
    

    .products--container {
        width: 100%;
    }


    .videogames--container {
        width: 75%;
        overflow: hidden;
    }
    .videogames__items--container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 70px;
    }
}